{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<div class="full center">
    <div class="mc-div">
        <p class="question">{{ word }}</p>
        <form action="{% url 'polls:check-ans' given=word quiz='mc' %}" method="post">
            {% csrf_token %}
            {% for choice in choices %}
                <input type="submit" name="choice" class="button mc-button" value="{{ choice }}"><br>
            {% endfor %}
        </form>
    </div>
</div>