{% load static %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
    <script src="{% static 'scripts/details.js' %}"></script>
</head>
<body>
    {% include 'quiz/header.html' %}
    <div class="full center">
        <div class="card">
            <p class="question">{{ question.question_text }}</p>
            <ul class="item" style="margin: 0">
            {% for forma in formseta %}
                <li>{{ forma.answer_text }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
</body>