{% load static %}
<head>
    {% if theme == 'dark' %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/dark.css' %}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
    {% endif %}
</head>
<body>
    {% include 'quiz/header.html' %}
    <div class="full center">
        <div>
            <a href="{% url 'quiz:quiz-mc' %}" class="button">MC Quiz</a>
            <a href="{% url 'quiz:quiz-text' %}" class="button">Text Quiz</a>
            <a href="{% url 'quiz:add-new' %}" class="button">Add</a>
            <a href="{% url 'quiz:list' %}" class="button">View</a>
        </div>
    </div>
</body>